{
  "env": {
    "node": true,
    "browser": true
  },

  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": 2,
    "consistent-this": [1, "self"],
    "default-case": 2,
    "func-style": [2, "declaration"],
    "guard-for-in": 2,
    "max-nested-callbacks": 0,
    "no-else-return": 1,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-irregular-whitespace": 2,
    "no-nested-ternary": 2,
    "no-lonely-if": 2,
    "no-multi-spaces": 1,
    "no-process-exit": 0,
    "no-self-compare": 2,
    "no-shadow": 1,
    "no-space-before-semi": 2,
    "no-spaced-func": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-underscore-dangle": 0,
    "quotes": [1, "single", "avoid-escape"],
    "radix": 2,
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "wrap-iife": [2, "inside"]
  }
}
