body {
   font-family: Consolas, monospace;
 }

 a {
    color: #ff0000;
 }

 p {
    margin: 0;
    padding: 0;
 }

 p span {
    display: inline-block;
    min-width: 10em;
 }

 .indent {
    margin: 5px 10px 0px 10px;
    padding: 5px
 }
