version: 2.1

orbs:
  node: circleci/node@5.1.0
  codecov: codecov/codecov@3.2.5

jobs:
  test:
    executor: node/default
    parameters:
      node-version:
        type: string
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - node/install-packages
      - run:
          command: ./coverage.sh
          name: Run tests
      - codecov/upload

workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            parameters:
              node-version: ["20", "22", "24", "25"]
